<footer class="footerlogin">
    <div class="footerlogin2">
        <nav>
            <ul class="navfooter" >
                <li><a href="#"> Menu</a></li><br>
                <li><a href="#">Delivery</a></li><br>
                <li><span class="whatsapp" ><i class="fab fa-whatsapp"></i></span><a href="#">Contactanos</a></li>
                                   
            </ul>
        </nav>
        <div class="iconos">
            <div><i class="fab fa-instagram"></i></div>
            <div><i class="fab fa-facebook"></i> </div> 
            <div><i class="fab fa-twitter"></i></div>
            <div><i class="fab fa-tiktok"></i></div>
        </div>
    </div>       
</footer>   