<footer class="footerlogin">
    <div class="footerlogin2">
        <nav>
            <ul class="navfooter" >
                <li><a href="../../productos">Menu</a></li><br>
                <li><a href="../../paraLlevar">Para Llevar</a></li><br><li><span class="whatsapp" ><a href="https://api.whatsapp.com/send?phone=541127675635&text=Realiza%20tu%20pedido"><i class="fab fa-whatsapp"></i></a></span></li>
            </ul>
        </nav>
        <div class="iconos">
            <div><a href="https://www.instagram.com/ricuritas.arg/"><i class="fab fa-instagram"></i></a></div>
            <div><i class="fab fa-facebook"></i> </div> 
            <div><i class="fab fa-twitter"></i></div>
            <div><i class="fab fa-tiktok"></i></div>
        </div>
    </div>       
</footer>               

