<header>  
  <!--NAVEGADOR DESPLEGABLE-->
  <div class="menuDesplegable1">
    <button class="menuBarra1"><i class="fas fa-bars"></i>
    <div class="menuDesplegable">
    <a class="active" href="../../nosotros">Nosotros</a>
    <a href="../../carrito">Mi carrito</a>
    <a href="../../productos">Menu</a>
    <a href="../../paraLlevar">Para Llevar</a>
    <a href="../../usuarios/login">Ingresá</a>
    <a href="../../usuarios/registro">Registrate</a>
    </div>
  </button>
  </div>
  <!------------------------->

    <nav class="nav_carrito">
      <ul class="nav">
          <a href="../../home" class="cajaLogo">
            <img class="logo" src="/imag/logo.png"> <!--agregue la / antes de imag-->
          </a>  
        <div class="nave">   
            <li><a href=../../nosotros>Nosotros</a></li>
            <li><a href="../../carrito">Mi carrito</a></li>
            <li><a href="../../productos">Menu</a></li>
        </div>
        <div class="nave2">
            <li><a href="../../paraLlevar">Para Llevar</a></li>
            <li><a href="../../usuarios/login">Ingresá</a></li>
            <li><a href="../../usuarios/registro">Registrate</a></li>
        </div>
      </ul>
    </nav>
</header>