<header>    
    <nav class="nav_carrito">
      <input type="checkbox" id="check">
      <label for="check" class="menuBarra"><i class="fas fa-bars"></i></label>
      <ul class="navMenu">
        <li><a href="#">Nosotros</a></li>
        <li><a href="../../carrito">Mi carrito</a></li>
        <li><a href="../../productos">Menu</a></li>
        <li><a href="#">Delivery</a></li>
        <li><a href="../../usuarios/login">Ingresá</a></li>
        <li><a href="../../usuarios/registro">Registrate</a></li>
      </ul>
      <ul class="nav">
          <a href="../../home" class="cajaLogo">
            <img class="logo" src="/imag/logo.png"> <!--agregue la / antes de imag-->
          </a>  
        <div class="nave">   
            <li><a href="#">Nosotros</a></li>
            <li><a href="../../carrito">Mi carrito</a></li>
            <li><a href="../../productos">Menu</a></li>
        </div>
        <div class="nave2">
            <li><a href="#">Delivery</a></li>
            <li><a href="../../usuarios/login">Ingresá</a></li>
            <li><a href="../../usuarios/registro">Registrate</a></li>
        </div>
      </ul>
    </nav>
</header>