<header class="headerlogin">
    <nav>   
        <div id="cajaLogo"><a href="home"><img class="logologin" src="imag/logo.png"></a></div>
        <ul class="navlogin">         
            <li><a href="#"> Menu</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Dónde estamos</a></li>
            <li><i class="fas fa-shopping-cart" ></i></li>
        <div class="botones">
            <button>Iniciar sesión</button>
            <br>
            <button>Registrarse</button>
        </div>

        </ul>
    </nav>

</header>