<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricuritas.arg</title>
    <link rel="stylesheet" href="css/style.css"> 
    <script src="https://kit.fontawesome.com/68e050386e.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>    
        <nav>
            <ul class="nav">
                <img class="logo" src="imag/logo.png">
            <div class="nave">   
                <li><a href="#">Menu</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Dónde estamos</a></li>
                <li><a href="carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </div>      
            <div class="botones">
                <a href="login"><input id="botonlogin"  type="submit" value="Iniciar sesión"></a><br>
                
                <a href="registro"><input id="botonlogin"  type="submit" value="Registrarse"></a><br>
            </div>
            </ul>
        </nav>
    </header>
    <main class="nacho_main">
    <div class="nacho_contenedor">
        <ul class="nacho_productos">
                  <li class="nacho_subproducto">
                             <div class="nacho_izquierda">
                                 <img class="nacho_foto" src="imag/tequeños.png">
                                 <div class="nacho_detalle">
                                  <h4>Tequeños</h4>
                                  <p> Deliciosos tequeños de queso</p>
                                  <p> x10 Unidades</p>
                                </div>
                            </div>
                            <div class="nacho_derecha">
                                <button type="submit" value="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                <button type="submit" value="Modificar"><i class="fas fa-utensils"></i> Modificar</button>
                                <p><b>Subtotal</b> $900,00</p>
                            </div>
                  </li>
                  <li class="nacho_subproducto">
                    <div class="nacho_izquierda">
                        <img class="nacho_foto" src="imag/empanadas1.png">
                        <div class="nacho_detalle">
                         <h4>Pastelitos</h4>
                         <p> Pastelitos Dulces</p>
                         <p> x12 Unidades</p>
                       </div>
                   </div>
                   <div class="nacho_derecha">
                    <button type="submit" value="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</button>
                    <button type="submit" value="Modificar"><i class="fas fa-utensils"></i> Modificar</button>
                       <p><b>Subtotal</b> $1.100,00</p>
                   </div>
                </li>
                <li class="nacho_subproducto">
                    <div class="nacho_izquierda">
                        <img class="nacho_foto" src="imag/arepas2.png">
                        <div class="nacho_detalle">
                         <h4>Arepas</h4>
                         <p>Mix de Arepas</p>
                         <p> x6 Unidades</p>
                       </div>
                   </div>
                   <div class="nacho_derecha">
                       <button type="submit" value="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</button>
                       <button type="submit" value="Modificar"><i class="fas fa-utensils"></i> Modificar</button>
                       <p><b>Subtotal</b> $1.500,00</p>
                   </div>
                </li>

        </ul>
        
        <div class="nacho_total"><p><b>TOTAL</b>:  $3500,00</p></div>
        
        <div class="nacho_botones">
            <button type="submit" value="SeguirComprando"><i class="fas fa-utensils"></i> Seguir Comprando</button>
            <button type="submit" value="MetodoPago"><i class="fas fa-credit-card"></i> Método de Pago</button>
            <button type="submit"  value="ConfirmarCompra"><i class="fas fa-check-circle"></i> Confirmar Compra</button>
        </div>
    </div>  
    </main>
    <footer class="footerlogin">
        <div class="footerlogin2">
            <nav>
                <ul class="navfooter" >
                    <li><a href="#"> Menu</a></li><br>
                    <li><a href="#">Delivery</a></li><br>
                    <li><span class="whatsapp" ><i class="fab fa-whatsapp"></i></span><a href="#">Contactanos</a></li>
                                       
                </ul>
            </nav>
            <div class="iconos">
                <div><i class="fab fa-instagram"></i></div>
                <div><i class="fab fa-facebook"></i> </div> 
                <div><i class="fab fa-twitter"></i></div>
                <div><i class="fab fa-tiktok"></i></div>
            </div>
        </div>       
    </footer> 
</body>
</html>
