<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricuritas.arg</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@100&family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/68e050386e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <%-include('./partials/header')%>

        <main class="nacho_main">
            <div class="nacho_contenedor">
                <ul id="nacho_productos">

                </ul>
                <!--<button id="eliminar" type="submit" value="Eliminar"><i class="fas fa-trash-alt"></i> Eliminar</button>-->
                <!-- <button type="submit" value="Modificar"><i class="fas fa-utensils"></i> Modificar</button>--> 
                <div id="contenedorDeTotal">

                </div>
                <div class="nacho_botones">
                    <a href="../../productos"><button type="button" name="seguir_comprando" value="Seguir Comprando"><i class="fas fa-utensils"></i> Seguir Comprando</button></a>
                    <a><button type="button" name="metodo_pago" value="Metodo Pago"><i class="fas fa-credit-card"></i> Metodo de Pago</button></a>
                    <a><button type="button"  name="confirmar_compra" value="Confirmar Compra"><i class="fas fa-check-circle"></i>Confirmar Compra</button></a>
                </div>
            </div>
        </main>
        <%-include('./partials/footer')%>
            <script type="module" src="/JS/carritoCarrito.js"></script>
</body>

</html>