<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
<body>
  <%-include('./partials/header')%>

    <main>
        <div class="contenedor">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src= "/imag/banner_1.png" class="d-block w-100" alt="banner 1">
              </div>
              <div class="carousel-item">
                <img src="/imag/banner_2.png" class="d-block w-100" alt="banner 2">
              </div>
              <div class="carousel-item">
                <img src="/imag/banner_3.png" class="d-block w-100" alt="banner 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="contenedorNetflix">
          <div class="contenedorTextoNetflix">
            <h3>Promo Netflix 🎬</h3>
            <br>
            <p>¿Existe un mejor plan que mirar unas entretenidas películas en casa? 
              Desde Ricuritas te adelantamos la respuesta... ¡No hay mejor plan!
              Es por eso que tenemos esta promo para vos.
              Llevandote una docena de Oreos Fritas incluimos 4 unidades extra y además un riquisimo vaso de Chicha.
            </p>
          </div>
          <div class="contenedorFotoNetflix"><img src="./imag/netflix.png"></div>
        </div>
        <br>
        <div class="contenedorDescuento">
          <div class="contenedorFotoDescuento"><img src="./imag/50_descuento.jpg"></div>
          <div class="contenedorCumpleanios">
            <h3>¡Es nuestro cumpleaños y el regalo es para vos!</h3>
            <br>
            <p>En Ricuritas cumplimos 3 años y nuestro mejor regalo es la satisfacción del cliente.
               Durante toda esta semana ¡tenemos muchos descuentos para vos!.
               50% de descuento en nuestras Arepas y Tequeños más el envío sin cargo</p>
          </div>
        </div>
        <br>
        <div class="contenedorVideo">
          <h3>¡Amamos lo que hacemos!</h3>
          <br>
          <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZRQeBKTbzYk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <p>Es por eso que estamos en cada detalle con el objetivo de que nuestros clientes se enamoren de nuestros sabores.</p>
     </div>
        <div class="contenedorfotos">
          <h3>¡Tentate con estas fotos!</h3>
          <br>
             <div class="fotos">
                 <img  src="imag/empanadas.png">
                 <img  src="imag/tequeños.png">
                <img  src="imag/oreofritas.png">
             </div>
                <div class="fotos">
                    <img  src="imag/picada1.png">
                    <img  src="imag/empanadas1.png">
                    <img  src="imag/tequeños2.png">
            </div>
        </div>

      </div>
       <div class="contenedor2">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6572.246620016295!2d-58.47614968459385!3d-34.55043314175637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1643741727772!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        <div class="texto">
            <h4> ¡Buscanos en nuestro mapa!.</h4>
            <h6> Dirección: CalleFalsa 123</h6>
            <h6> Horario: Lunes a Viernes de 20-24hs</h6>
            </div>
        </div>

    </main>

    <%-include('./partials/footer')%>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> 
</body>
</html>