<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricuritas.arg</title>
    <link rel="stylesheet" href="css/style.css"> 
    <script src="https://kit.fontawesome.com/68e050386e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>    
        <nav>
            <ul class="nav">
                <img class="logo" src="imag/logo.png">
                <li><a href="#"> Menu</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Dónde estamos</a></li>
                <li><i class="fas fa-shopping-cart" ></i></li>
            <div class="botones">
                <button>Iniciar sesión</button>
                <br>
                <button>Registrarse</button>
            </div>
            </ul>
        </nav>
    </header>
    <main>
        <div class="contenedor">
        <div class="portada">
        <img  width= 300px height= 300px src="imag/picada1.png">
        </div>
        <div class="texto">
            <p> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            </div>
        </div>
        <div class="fotos">
            <img width="150px" height="150px" src="imag/empanadas.png">
            <img width="150px" height="150px" src="imag/empanadas1.png">
            <img width="150px" height="150px" src="imag/picada.png">
        </div>
        <div class="fotos">
            <img width="150px" height="150px" src="imag/picada1.png">
            <img width="150px" height="150px" src="imag/tequeños.png">
            <img width="150px" height="150px" src="imag/tequeños1.png">
        </div>
       <div class="contenedor2">
        <div class="portada">
        <img  width= 300px height= 300px src="imag/mapa.jpeg">
        </div>
        <div class="texto">
            <p> Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            </div>
        </div>

    </main>
    <footer class="footerlogin">
        <div class="footerlogin2">
            <nav>
                <ul class="navfooter" >
                    <li><a href="#"> Menu</a></li><br>
                    <li><a href="#">Delivery</a></li><br>
                    <li><span class="whatsapp" ><i class="fab fa-whatsapp"></i></span><a href="#">Contactanos</a></li>
                                       
                </ul>
            </nav>
            <div class="iconos">
                <div><i class="fab fa-instagram"></i></div>
                <div><i class="fab fa-facebook"></i> </div> 
                <div><i class="fab fa-twitter"></i></div>
                <div><i class="fab fa-tiktok"></i></div>
            </div>
        </div>       
    </footer>    
</body>
</html>