<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricuritas.arg</title>
    <link rel="stylesheet" href="css/style.css"> 
    <script src="https://kit.fontawesome.com/68e050386e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>    
        <nav>
            <ul class="nav">
                <img class="logo" src="imag/logo.png">
                <li><a href="#">Menu</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Dónde estamos</a></li>
                <li><i class="fas fa-shopping-cart" ></i></li>
            <div class="botones">
                <input id="botonlogin"  type="submit" value="Iniciar sesión"><br>
                
                <input id="botonlogin"  type="submit" value="Registrarse"><br>
            </div>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        
    </footer>    
</body>
</html>