<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricuritas.arg</title>
    <link rel="stylesheet" href="css/style.css"> 
    <script src="https://kit.fontawesome.com/68e050386e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="headerlogin">
        <nav>
            <img class="logologin" src="imag/logo.png">
            <ul class="navlogin">         
                <li><a href="#"> Menu</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Dónde estamos</a></li>
                <li><i class="fas fa-shopping-cart" ></i></li>
            <div class="botones">
                <button>Iniciar sesión</button>
                <br>
                <button>Registrarse</button>
            </div>

            </ul>
        </nav>
    </header>
    <main class="mainlogin2" >
        <div class="mainlogin">
        <div>
            <h4>¡Hola! Ingresá tu nombre de usuari@</h4>
        </div>
        <form action="/login-usuario" method="POST">
            <input type="text" name="nombre" placeholder="Nombre de usuari@"><br><br><br>
            <input type="password" name="pass" placeholder="Contraseña"> 
            <span class="eyeboton" ><i class="far fa-eye-slash"></i></span> <br><br><br>
            <input id="botonlogin" class="submit-form" type="submit" value="Iniciar sesión"><br><br><br>
            <input id="botonlogin" class="submit-form" type="submit" value="Crear cuenta"><br><br>
            <h5>¿Olvidaste tu Contraseña?</h5><br><br>
        </form>
        </div>
    </main>
    <footer class="footerlogin">
        <div class="footerlogin2">
            <nav>
                <ul class="navfooter" >
                    <li><a href="#"> Menu</a></li><br>
                    <li><a href="#">Delivery</a></li><br>
                    <li><span class="whatsapp" ><i class="fab fa-whatsapp"></i></span><a href="#">Contactanos</a></li>
                                       
                </ul>
            </nav>
            <div class="iconos">
                <div><i class="fab fa-instagram"></i></div>
                <div><i class="fab fa-facebook"></i> </div> 
                <div><i class="fab fa-twitter"></i></div>
                <div><i class="fab fa-tiktok"></i></div>
            </div>
        </div>       
    </footer>
</body>
</html>    
