<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
<body>
  <%-include('./partials/header')%>

    <main>
      <div class="Nosotros">
            <div><img src="./imag/Nosotros_1.jpg" class="banner_nosotros"></div>
            <div><img src="./imag/Nosotros_2.jpg" class="banner_nosotros"></div>
            <div><img src="./imag/Nosotros_3.jpg" class="banner_nosotros"></div>
      </div>

    </main>

    <%-include('./partials/footer')%>

</body>
</html>