<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
<body>
  <%-include('./partials/header')%>

    <main>
 <div id="pabellon_venezolano">

    <img  class="pabellon_clase" src="/imag/pabellon_venezolano.jpg">

    <div id="texto_nosotros">
        <p >
           Ricuritas nace en Buenos Aires, Argentina. A mediados del 2019, una familia funda un humilde emprendimiento en el tradicional Barrio Lanús. 
           Su particular modo de recibir a los clientes inspiró al nombre, que se convertiría en un sinónimo del buen comer.
   
           Con más de 3 años de presencia en Argentina, Ricuritas sigue siendo fiel al estilo que le dio origen: 
           calidad, cordialidad y una esmerada atención; manteniendo intacta la esencia a lo largo de su historia y logrando distinguir el verdadero sabor de la cocina venezolana, Ricuritas se ha convertido en un clásico de Buenos Aires.
           
           Dentro de su completa carta, donde los tequeños son protagonistas por excelencia, 
           encontrará una amplia variedad de opciones apta para los paladares más exigentes.
        </p>
    </div>
</div>

    </main>

    <%-include('./partials/footer')%>

</body>
</html>