<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head')%>
<body>
  <%-include('./partials/header')%>

    <main>
 <div id="paraLlevar_div">

  <img  id="paraLlevar" src="/imag/ParaLlevar.png">
     
 </div>
    </main>

    <%-include('./partials/footer')%>

</body>
</html>