<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricuritas.arg</title>
    <link rel="stylesheet" href="css/style.css"> 
    <script src="https://kit.fontawesome.com/68e050386e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>    
        <nav>
            <ul class="nav">
                <img class="logo" src="imag/logo.png">
            <div class="nave">   
                <li><a href="#">Menu</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Dónde estamos</a></li>
                <li><a href="carrito"><i class="fas fa-shopping-cart"></i></a></li>
            </div>      
            <div class="botones">
              <a href="login"><input id="botonlogin"  type="submit" value="Iniciar sesión"></a><br>
                
              <a href="registro"><input id="botonlogin"  type="submit" value="Registrarse"></a><br>
            </div>
            </ul>
        </nav>
    </header>
    <main>
     <div class="cajaMadre">
        <div id="caja1">
            <ul class="slider">
              <li id="slide1">
                <img src="imag/empanadas.png"/>
              </li>
              <li id="slide2">
                <img src="imag/empanadas1.png"/>
              </li>
              <li id="slide3">
                <img src="imag/picada.png"/>
              </li>
            </ul>
            
            <ul class="menu">
              <li>
                <a href="#slide1"><img src="imag/empanadas.png"/></a>
              </li>
              <li>
                <a href="#slide2"><img src="imag/empanadas1.png"/></a>
              </li>
               <li>
                <a href="#slide3"><img src="imag/picada.png"/></a>
              </li>
            </ul>
            <h3>Descripcion</h3>
            <article>Plato típico de la Cordillera de los Andes Venezolano, que tiene como base una masa de harina de trigo casera y se rellena de infinidades de sabores como queso, carne o pollo y pueden ser fritos u horneados.</article>
            
          </div>

          <div id="caja2">
            <h2>Pastelitos Andinos</h2>
            <h3>$100,00</h3>
            <p><input type="checkbox" name="Extra1" value="Extra1">Extra1</p>
            <p><input type="checkbox" name="Extra2" value="Extra2">Extra2</p>
            <p><input type="checkbox" name="Extra3" value="Extra3">Extra3</p>
            <form class="seleccion"action="#" method="GET">
                <p>
                <label>Seleccione un Sabor:</label>
                <select name="Sabor">
                <option value="Carne">Carne</option>
                <option value="Pollo">Pollo</option>
                <option value="Verdura">Verdura</option>
                <option value="JyQ">JyQ</option>
                </select>
                </p>
                <p>
                <label>Cantidad:</label>
                <select name="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                </select>
                </p>

                <input id="botonlogin"  type="submit" value="Añadir al Carrito"><br><br>
                <input id="botonlogin"  type="button" value="Seguir Comprando">
                </form>
          </div>
    </div>
    </main>
    <footer class="footerlogin">
      <div class="footerlogin2">
          <nav>
              <ul class="navfooter" >
                  <li><a href="#"> Menu</a></li><br>
                  <li><a href="#">Delivery</a></li><br>
                  <li><span class="whatsapp" ><i class="fab fa-whatsapp"></i></span><a href="#">Contactanos</a></li>
                                     
              </ul>
          </nav>
          <div class="iconos">
              <div><i class="fab fa-instagram"></i></div>
              <div><i class="fab fa-facebook"></i> </div> 
              <div><i class="fab fa-twitter"></i></div>
              <div><i class="fab fa-tiktok"></i></div>
          </div>
      </div>       
  </footer>  
</body>
</html>