*{box-sizing: border-box;}

header{
  background-color:#595959;
    padding-bottom: 1%;
    color: white
}

body{
  font-family: 'Dongle', sans-serif;
  font-weight: 300;
  background-color: #dedede;
  margin:0px;

}

#cajaLogo{
  display: flex;
  justify-content:center;
}

.logo{
    width: 30%;
    height: 15%;
    align-self: center;
    margin-left: 1%;
    margin-top: 1%;
 
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

.nave{
  display: flex;
  justify-content: inherit;
  width: 100%;
  padding-bottom: 5%; /* gabi: agregue el padding bottom*/
  
}


.botones a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.nav a{
    text-decoration: none;
    color: #dedede;
}

@media(max-width:719px){
  .botones{
    display: flex;
    flex-direction: row;
  }
}
/* gabi :agregue el ultimo @media completo*/


/* Estilos producto.html-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/
.cajaMadre{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin:2%
}

#caja1{
  font-family: sans-serif;
  margin: auto;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding:2%
}

#caja1 > ul, li {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

#caja1 > ul.slider{
  position: relative;
  width: 50vh;
  height: 50vh;
  margin: auto;
}

#caja1 > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s;
  background:#fff;
}

#caja1 > ul.slider li img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  margin:auto
}

#caja1 > ul.slider li:first-child {
  opacity: 1; 
}

#caja1 > ul.slider li:target {
  opacity: 1; 
}

#caja1 > .menu{
  text-align: center;
}

#caja1 > .menu li{
  display: inline-block;
  text-align: center;
}

#caja1 > .menu li img{
  display: inline-block;
  text-decoration: none;
  background-color: white;
  padding: 2px;
  width: 18vh;
  height: 18vh;
}


#caja2{
  width: 90%;
  display: flex;
  flex-direction: column;
  }

#caja2 h2{
  margin-top: 50px;
}

#caja2 form input{
    width: 100%;
    border-radius: 5px;
    border: rgb(190, 190, 166);
    padding: 10px;
}

.seleccion{
  display: flex;
  flex-direction: column;
  margin:20px
  }
/* ------------------------------------------------------------------------------------- */
.nacho_contenedor{
  width: 100%;
  padding:1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.nacho_productos{
  width: 80%;
}
.nacho_subproducto{
  border-bottom: solid 2px #595959;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nacho_izquierda{

  width: 50%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.nacho_derecha{
  width: 45%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
}
.nacho_derecha button{
  background-color:rgb(228, 166, 50);
  color: #595959;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
  
}
.nacho_foto{
width: 95px;
height: 95px;;
margin: 5%;
display: flex;

}
.nacho_botones{
  width: 60%;
  height: 10%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.nacho_botones button{
  background-color:rgb(228, 166, 50) ;
  color: #595959;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
}

.nacho_total{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



/* ------------------------------------------------------------------------------------- */
/*Login-footer*/

.headerlogin{
  background-color:rgb(228, 222, 222);
  padding-bottom: 25px;
  
}

.navlogin{
  display: none;
}



.logologin{
  width: 7rem;
}

.mainlogin2{
  background-color: rgb(228, 222, 222);
  margin-bottom: 2%;
}

.mainlogin{
  text-align: center;
  background-color: beige;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 3%;
  max-width: 30rem;
}

.mainlogin input{
  width: 50%;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
}

.eyeboton{
  background-color: beige ;
  border-color: beige;
  padding: 10px;
  position: absolute;
}

#botonlogin{
  background-color:rgb(228, 166, 50) ;
  color: white;
  width: 50%;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
}


.botones button{
  background-color:rgb(228, 166, 50) ;
  color: white;
  width: 50%;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;

}

.footerlogin{
  background-color:#595959;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #dedede;
  
}

.footerlogin2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navfooter{
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-direction: column;



}

.navfooter a{
  text-decoration: none;
  color:#dedede;
  margin-left: 5%;

}

.whatsapp{
   color:green;
   font-size: 200%;
   margin-right: -8%;
   position: fixed;
   right: 10%;
   bottom: 5%;
   width: 55px;
   height: 55px;
   line-height: 55px;
   bottom: 30px;
  background-color:#0df053 ;
  color: #fff;
  border-radius: 50px;
  text-align:center;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
  
}

.whatsapp:hover{
  text-decoration: none;
  color:#0df053;
  background-color: #fff;
}


.iconos{
 display: flex;
 justify-content: center;
 justify-content: space-around;
 flex-grow: 0.75;
 font-size: 150%;
 align-items: center;
}

@media only screen and (min-width: 720px)
{ 
    .mainlogin{
    margin:auto;
}
.footerlogin{
    border-top: 1px solid rgb(212, 209, 209);
}

}


/* ----------------------------------------------------------------------------------------------- */
    

/* ----------------------------------------------------------------------------------------------- */

@media(min-width:480px){

.cajaMadre{
  flex-direction: row;
}

#caja1 > ul.slider li img{
  object-fit: contain;
  }

.nacho_contenedor{
  width: 100%;

}
.nacho_productos{
  width: 90%;
}

.nacho_izquierda{
  width: 40%;
}
.nacho_derecha{
  width: 40%;
}
.nacho_botones{
  width: 95%;
}
.nacho_total{
  width: 90%;
}

}
@media(min-width:720px){

#caja1 > ul.slider {
  height: 300px;
}


.logo{
  width: 12%;
  height: 12%;
} /* gabi: baje de 15 a 12 % ambos*/

.botones{
  width: 43%;
  max-width: 300px;
}

.nav{
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}

.nacho_botones button{
 width: 20%;
 height: 10%;
}

}

@media (min-width:980px){
  
.nacho_botones button{
  width: 20%;
  height: 10%;
 }
 .nav{
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
  flex-wrap: nowrap;
}
}

/*-------------------------------------------------------------------------------------------*/
/* estilos home */
.portada{
  align-items: center;

   width: 50%;
   margin-left: 5%;
   margin-top: 3%;
 }
 .contenedor p{
  align-items: center;
   width: 45%;
   height: auto;
   margin-top: 3%;
   margin-left: -35%;
   font-size: medium;
 }
 .contenedor p b{
  font-size: 12px;
 }
 .contenedor img{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 55%;
  height: 55%;
 }
 .contenedor{
 
   padding-bottom: 3%;
   border-bottom: solid 2px #595959;
  height: 20%;
  
 }

 
 .fotos{
   width: 70%;
   display:flex;
   justify-content: space-evenly;
   flex-direction: row;
   flex-wrap: wrap;
   
   margin: auto;
   padding-bottom: 1%;
 }

 .fotos img{
   object-fit: cover;
   width: 25%;
   height: auto;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
 }
 .contenedorfotos{
   width:100%;
   display: flex;
   flex-direction: column;
   margin: 3%;
   align-items: baseline;
  
 }
 .contenedor2{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   background-color:beige;
   align-items: center;
 
 }
 .mapa{

   margin-top: 3%;
   margin-bottom: 3%;
   margin-left: 2%;
   width: 55%;

 }
 .mapa iframe{
  width:100%; 
  height:auto;
 }
 .texto{
margin-left: 1%;
width:100%; 
height:auto;
flex-grow: 0.6;

 }

