*{box-sizing: border-box;}

header{
  background-color:#595959;
    padding-bottom: 1%;
    color: white
}

body{
  font-family: 'Dongle', sans-serif;
  font-weight: 300;
  background-color: #dedede;
  margin:0px;

}

#cajaLogo{
  display: flex;
  justify-content:center;
}

.logo{
    width: 30%;
    height: 15%;
    align-self: center;
    
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

.nave{
  display: flex;
  justify-content: center;
  width: 100%;
}


.botones{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.nav a{
    text-decoration: none;
    color: #dedede;
}

/* Estilos producto.html-------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/
.cajaMadre{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#caja1{
  font-family: sans-serif;
  margin: auto;
  background-color: white;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

#caja1 > ul, li {
  padding: 0;
    margin: auto;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

#caja1 > ul.slider{
  position: relative;
  width: 100%;
  height: 100px;
}

#caja1 > ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity .5s;
  background:#fff;
}

#caja1 > ul.slider li img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  margin:auto
}

#caja1 > ul.slider li:first-child {
  opacity: 1; 
}

#caja1 > ul.slider li:target {
  opacity: 1; 
}

#caja1 > .menu{
  text-align: center;
  margin: 10px;
}

#caja1 > .menu li{
  display: inline-block;
  text-align: center;
}

#caja1 > .menu li img{
  display: inline-block;
  text-decoration: none;
  background-color: white;
  padding: 2px;
  width: 50px;
  height: 50px;
}


#caja2{
  width: 90%;
  display: flex;
  flex-direction: column;
  }

#caja2 h2{
  margin-top: 50px;
}

#caja2 form input{
    width: 100%;
    border-radius: 5px;
    border: rgb(190, 190, 166);
    padding: 10px;
}

.seleccion{
  display: flex;
  flex-direction: column;
  margin:20px
  }
/* ------------------------------------------------------------------------------------- */
.nacho_contenedor{
  width: 100%;
  padding:1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.nacho_productos{
  width: 80%;
}
.nacho_subproducto{
  border-bottom: solid 2px red;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nacho_izquierda{

  width: 50%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.nacho_derecha{
  width: 45%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
}
.nacho_derecha button{
  background-color:rgb(228, 166, 50);
  color: white;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
}
.nacho_foto{
width: 95px;
height: 95px;;
margin: 5%;
display: flex;

}
.nacho_botones{
  width: 60%;
  height: 10%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.nacho_botones button{
  background-color:rgb(228, 166, 50) ;
  color: white;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
}
.nacho_total{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



/* ------------------------------------------------------------------------------------- */
/*Login-footer*/

.headerlogin{
  background-color:rgb(228, 222, 222);
  padding-bottom: 25px;
  
}

.navlogin{
  display: none;
}



.logologin{
  width: 10%;
  height: 10%;
  padding-top: 3%;
 
}

.mainlogin2{
  background-color: rgb(228, 222, 222);
  margin-bottom: 2%;
}

.mainlogin{
  text-align: center;
  background-color: beige;
  padding-top:25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.mainlogin input{
  width: 50%;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
}

.eyeboton{
  background-color: beige ;
  border-color: beige;
  padding: 10px;
  position: absolute;
}

#botonlogin{
  background-color:rgb(228, 166, 50) ;
  color: white;
  width: 50%;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;
}


.botones button{
  background-color:rgb(228, 166, 50) ;
  color: white;
  width: 50%;
  border-radius: 5px;
  border:rgb(190, 190, 166);
  padding: 10px;

}

.footerlogin{
  background-color:#595959;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #dedede;
  
}

.footerlogin2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navfooter{
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-direction: column;



}

.navfooter a{
  text-decoration: none;
  color:#dedede;
  margin-left: 5%;

}

.whatsapp{
   color:green;
   font-size: 200%;
   margin-right: -8%;
   position: fixed;
   right: 10%;
   bottom: 5%;
   width: 55px;
   height: 55px;
   line-height: 55px;
   bottom: 30px;
  background-color:#0df053 ;
  color: #fff;
  border-radius: 50px;
  text-align:center;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
  
}

.whatsapp:hover{
  text-decoration: none;
  color:#0df053;
  background-color: #fff;
}


.iconos{
 display: flex;
 justify-content: center;
 justify-content: space-around;
 flex-grow: 0.75;
 font-size: 150%;
 align-items: center;
}

@media only screen and (min-width: 720px)
{ 
    .mainlogin{
    margin: -4rem auto 0;
    margin-top: -4rem;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 26rem;
    padding: 2rem 4rem;
    padding-top: 2rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
    border-radius: 20px;
}
.footerlogin{
    border-top: 1px solid rgb(212, 209, 209);
}

}
 @media(max-width:719px){
   .logologin{
     width: 20%;
     height: 20%;
   }
 }

/* ----------------------------------------------------------------------------------------------- */
    

/* ----------------------------------------------------------------------------------------------- */

@media(min-width:480px){

#caja1 > ul.slider {
  height: 200px;
}

.cajaMadre{
  flex-direction: row;
}

#caja1 > ul.slider li img{
  object-fit: contain;
  }

#caja1 > .menu li img{
  width: 50px;
  height: 50px;
}
.nacho_contenedor{
  width: 100%;

}
.nacho_productos{
  width: 90%;
}

.nacho_izquierda{
  width: 40%;
}
.nacho_derecha{
  width: 40%;
}
.nacho_botones{
  width: 95%;
}
.nacho_total{
  width: 90%;
}

}
@media(min-width:720px){

#caja1 > ul.slider {
  height: 300px;
}

#caja1 > .menu li img{
  width: 80px;
  height: 80px;
}

.logo{
  width: 15%;
  height: 15%;
}

.botones{
  width: 43%;
  max-width: 300px;
}

.nav{
  flex-direction: row;
  justify-content: space-around;
  align-items: end;
}
}

@media (min-width:980px){

#caja1{
  margin-left:auto;
}


#caja1 > .menu li img{
  width: 80px;
  height: 80px;
}

}

/*estilos home*/
.portada{
  align-items: center;
  padding-inline-start: 200px;
   width: 50%;
   padding-top: 30px;
 }
 .texto{
  align-items: center;
   width: 50%;
   padding-inline-end: 200px;
   padding-top: 30px;
 }
 .contenedor{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
 }
 .fotos{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 50px;
 }
 .contenedor2{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding-top: 50px;
 }
 