<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>

<body> 
    <%-include('../partials/header')%>
    <br>
    <br>
    <main c>
        <div class="registrado">
              <h4>Registro Exitoso!</h4>
              <span class="tilde" ><i class="fa fa-check-circle"></i></span> 
        </div>
    </main>
    <br>
    <br>
    <%-include('../partials/footer')%>
</body>
</html>