<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head_users')%>

<body>
    <%-include('../partials/header_users')%>
    <main class="mainlogin2" >
        <div class="mainlogin">
        <div>
            <h4>¡Hola! Ingresá tu nombre de usuari@</h4>
        </div>
        <form action="/login-usuario" method="POST">
            <input type="text" name="nombre" placeholder="Nombre de usuari@"><br><br><br>
            <input type="password" name="pass" placeholder="Contraseña"> 
            <span class="eyeboton" ><i class="far fa-eye-slash"></i></span> <br><br><br>
            <input id="botonlogin" class="submit-form" type="submit" value="Iniciar sesión"><br><br><br>
            <input id="botonlogin" class="submit-form" type="submit" value="Crear cuenta"><br><br>
            <h5>¿Olvidaste tu Contraseña?</h5><br><br>
        </form>
        </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>    

