<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>

<body>
    <%-include('../partials/header')%>
    <main class="mainlogin2" >
        <div class="mainlogin">
        <div>
            <h4>¡Hola! Ingresá tu nombre de usuari@</h4>
        </div>
        <form action="/usuarios/logins" method="POST">
            <input type="text" name="usuario" placeholder="Nombre de usuari@"><br><br><br>
            <% if(locals.errors && errors.usuario) {%>
                    <span><%= errors.usuario.msg%> </span>
            <% }%>
            <input type="password" name="password" placeholder="Contraseña"> 
            <span class="eyeboton" ><i class="far fa-eye-slash"></i></span> <br><br><br>
            <input id="botonlogin" class="submit-form" type="submit" value="Iniciar sesión"><br><br><br>
            <input id="botonlogin" class="submit-form" type="submit" value="Crear cuenta"><br><br>
            <h5>¿Olvidaste tu Contraseña?</h5><br><br>
        </form>
        </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>    

