<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>

<body> 
    <%-include('../partials/header')%>
    <main class="mainlogin2" >
        <div class="mainlogin">
        <div>
            <h4>¡Hola! Creá tu cuenta</h4>
        </div>
        <form action="/login-usuario" method="POST">
            <input type="text" name="nombre" placeholder="Nombre"><br><br><br>
            <input type="text" name="apellido" placeholder="Apellido"><br><br><br>
            <input type="email" id="email" name="email" placeholder="Email"><br><br><br>
            <input type="text" name="usuario" placeholder="Nombre de usuari@"><br><br><br>
            <input type="password" name="password" placeholder="Contraseña">
            <span class="eyeboton" ><i class="far fa-eye-slash"></i></span> <br><br><br>
            <input type="password" name="password" placeholder="Confirmar contraseña">
            <span class="eyeboton" ><i class="far fa-eye-slash"></i></span> <br><br><br>
            <input type="tel" name="telefono" placeholder="Nro. Teléfono"><br><br><br>
            <input type="text" name="direction" placeholder="Dirección"><br><br><br>
            <input type="text" name="notas" placeholder="Notas(opcional)"><br><br><br>
            <input id="botonlogin" class="submit-form" type="submit" value="Registrarse"><br><br>
            <h6>Dando click en Registrarse,aceptas nuestros <a href="#">Términos y condiciones</a></h6><br><br>
        </form>
        </div>
    </main>


    <%-include('../partials/footer')%>
</body>
</html>