<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="mainlogin2">
        <div class="mainlogin">
            <div>
                 <h5>Formulario de creaci칩n de productos</h5>
            </div>
            <br>
            <form action="/productos/creado" method="POST" enctype="multipart/form-data" >
                <div >
					<div >
						<label for="name" class="crearEditarLabel" >Nombre del producto:</label>
						<input type="text" id="name" name="nombre" placeholder="Ej: Oreo Fritas" >
					</div>
                    <br>
					<div >
						<label for="price" class="crearEditarLabel">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej:$ 600" >
					</div>
                    <br>
                    <div class="subirImagen">
                        <label>Subir Im치gen:</label>
                        <br>
                        <input type="file" name="imagenProducto" id="file" class="inputfile" />
                        <label for="file">Seleccionar Im치gen</label>
					</div>
                    <br>
					<div>
						<label for="description" class="crearEditarLabel">Descripci칩n:</label>
						<textarea name="description" id="description" class="description" ></textarea>
					</div>
                    <br>
					<div >
						<button id="botonlogin" type="submit" class="submit-form">Guardar producto</button>
					</div>
				</div>
            </form>
        </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>