<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="mainlogin2">
        <div class="mainlogin">
            <div>
                <br>
                 <h5>Formulario de creaci칩n de productos</h5>
                <br>
            </div>
            <br>
            <form action="/productos/creado" method="POST" enctype="multipart/form-data" class="/productos/creado" >
                <div >
					<div >
						<label for="nombre" class="crearEditarLabel" >Nombre del producto:</label>
						<input type="text" id="nombre" name="nombre" placeholder="Ej: Oreo Fritas" >
					</div>
                    <br>
					<div >
						<label for="precio" class="crearEditarLabel">Precio del producto:</label>
						<input type="text" id="precio" name="precio" placeholder="Ej:$ 600" >
					</div>
                    <br>
                    <div >
						<label for="stock" class="crearEditarLabel">Stock del producto:</label>
						<input type="text" id="stock" name="stock" placeholder="Ej: 5" >
					</div>
                    <br>
                    <div >
						<label for="cantidad" class="crearEditarLabel">Cantidad del producto:</label>
						<input type="text" id="cantidad" name="cantidad" placeholder="Ej: 10" >
					</div>
                    <br>
                    <div class="subirImagen">
                        <label>Subir Im치gen:</label>
                        <br>
                        <input type="file" name="imagenProducto" id="file" class="inputfile" />
                        <label for="file">Seleccionar Im치gen</label>
					</div>
                    <br>
					<div>
						<label for="descripcion" class="crearEditarLabel">Descripci칩n:</label>
						<textarea name="descripcion" id="descripcion" class="description" ></textarea>
					</div>
                    <br>
					<div >
						<button id="botonlogin" type="submit" class="submit-form">Guardar producto</button>
					</div>
				</div>
            </form>
        </div>
    </main>
    <%-include('../partials/footer')%>
    <script src="/JS/creacionProducto.js"></script>
</body>
</html>