<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')%>
<body>
    <%-include('../partials/header')%>
    <main class="mainlogin2">
        <div class="mainlogin">
            <div>
                 <h5>Formulario de edición de productos</h5>
            </div>
            <br>
            <form action="/productos/editar/<%=producto.id%>?_method=PUT" method="POST">
                <div >
					<div >
						<label for="name" class="crearEditarLabel" >Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Pastelitos" >
					</div>
                    <br>
					<div >
						<label for="price" class="crearEditarLabel">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej:$ 300" >
					</div>
                    <br>
                    <div >
						<label for="Unidades" class="crearEditarLabel">Unidades:</label>
						<input type="number" id="number" name="Unidades" placeholder="" >
					</div>
                    <br>
					<div>
						<label for="description" class="crearEditarLabel">Descipción:</label>
						<textarea name="description" id="description" class="description" ></textarea>
					</div>
                    <br>
					<div >
						<button id="botonlogin" type="submit" class="submit-form">Guardar edición</button>
					</div>
				</div>
            </form>
        </div>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>